### 1. Let <br> A = {1,2,3,5,10} <br> B = {2,4,7,8,9} <br> C = {5,8,10} <br> be subsets of S = {1,2,3,4,5,6,7,8,9,10}. Please find <br><Br> <font color="blue">(a)B &cup; A</font>    $\quad \quad$ <font color="blue">(b) A - C</font> $\quad \quad$ <font color="blue">(c)B' &cap; (A &cup; C)</font>

In [9]:
#(a)
A = {1,2,3,5,10}
B = {2,4,7,8,9}
B.union(A)

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [8]:
#(b)
A = {1,2,3,5,10}
C = {5,8,10}
A.difference(C)

{1, 2, 3}

In [7]:
#(c)
S = {1,2,3,4,5,6,7,8,9,10}
B = {2,4,7,8,9}
A = {1,2,3,5,10}
C = {5,8,10}
NB = S.difference(B)
AC = A.union(C)
NB.intersection(AC)

{1, 3, 5, 10}

### 2. Let A = {1,2}, and B = {3,4}. Please<br><br><font color="blue">(a) Find A $\times$ B</font> $\quad \quad$ <font color="blue">(b)Find B $\times$ A</font>

In [14]:
#(a)
print("(1,3)")
print("(1,4)")
print("(2,3)")
print("(2,4)")

(1,3)
(1,4)
(2,3)
(2,4)

In [15]:
#(b)
print("(3,1)")
print("(3,2)")
print("(4,1)")
print("(4,2)")

(3,1)
(3,2)
(4,1)
(4,2)

### 3. How many three-letter words (not nescessarily meaningful) can be formed  from the word "compiler" if no letters can be repeated?

In [ ]:
n = 8
r = 3
P(8,3) = n!/(n-r)! = 8!/5! = 8*7*6 = 336

### 4. How many 5-card poker hands are possible with a 52-card deck?

In [3]:
import math
def fact(n):
     if (n <= 1):
        return 1
     return n * fact(n - 1)

In [ ]:
n = 52
r = 5
C(52,5) = n!/((n-r)!*r!) = 52!/(47!*5!)

In [4]:
fact(52)/(fact(47)*fact(5))

2598960.0

### 5. Select all the statements in the following list

(1) Be sure to wash your dishes after eating <br>
(2) Will there be tacos for dinner? <br>
(3) There are life forms on Jupiter. <br>
(4) 2 + 4 = 82 <br>

(1) No, it is a command, not a proposition <br>
(2) No, it is a question <br>
(3) Yes. It is a proposition. <br>
(4) Yes. It is a proposition. <br>

### 6. How many rows will be in a truth table of a wff that contains 6 variables?

A. 12 <br>
B. 64 <Br>
C. 32 <Br>
D. 6 <Br>

In [6]:
2**6

64

### 7. Negate the following:

 (1) A &or; B <br>
 (2) You did not pass the class and you did not fail. <br>
 (3) A &rarr; B

(1) (A &or; B)' = A' &and; B'

(2) <br>
A: You did pass the class <br>
B: You did fail the class <br>
A' &and; B'

(A' &and; B')' = A &or; B

You did pass the class or you did fail the class

(3) A &rarr; B <br>
A' &or; B

(A' &or; B)' = A &and; B'

### 8. Construct the truth tables for the following wffs.

(1) (A &or; B)' <br>
(2) A' &and; B' <br>
(3) (A &rarr; B) &harr; (A' &or; B)' <br>
(4) A &or; B &harr; (A' &rarr; B) <br>

(1) 
<table>
        <tr style="border: 1px solid black">
            <th style="border: 1px solid black">A</th>
            <th style="border: 1px solid black">B</th>
            <th style="border: 1px solid black">A &or; B</th>
            <th style="border: 1px solid black">(A &or; B)'</th>
        </tr>
        <tr>
            <td>T</td>
            <td>T</td>
            <td>T</td>
            <td>F</td>
        </tr>
         <tr>
            <td>T</td>
            <td>F</td>
            <td>T</td>
            <td>F</td>
        </tr>
        <tr>
            <td>F</td>
            <td>T</td>
            <td>T</td>
            <td>F</td>
        </tr>
        <tr>
            <td>F</td>
            <td>F</td>
            <td>F</td>
            <td>T</td>
        </tr>
</table>

(2) 
<table>
        <tr style="border: 1px solid black">
            <th style="border: 1px solid black">A</th>
            <th style="border: 1px solid black">B</th>
            <th style="border: 1px solid black">A'</th>
            <th style="border: 1px solid black">B'</th>
            <th style="border: 1px solid black">A' &and; B'</th>
        </tr>
        <tr>
            <td>T</td>
            <td>T</td>
            <td>F</td>
            <td>F</td>
            <td>F</td>
        </tr>
         <tr>
            <td>T</td>
            <td>F</td>
            <td>F</td>
            <td>T</td>
            <td>F</td>
        </tr>
        <tr>
            <td>F</td>
            <td>T</td>
            <td>T</td>
            <td>F</td>
            <td>F</td>
        </tr>
        <tr>
            <td>F</td>
            <td>F</td>
            <td>T</td>
            <td>T</td>
            <td>T</td>
        </tr>
</table>

(3) 
<table>
        <tr style="border: 1px solid black">
            <th style="border: 1px solid black">A</th>
            <th style="border: 1px solid black">B</th>
            <th style="border: 1px solid black">A'</th>
            <th style="border: 1px solid black">A &rarr; B</th>
            <th style="border: 1px solid black">A' &or; B</th>
            <th style="border: 1px solid black">(A' &or; B)'</th>
            <th style="border: 1px solid black">A &rarr; B &harr; (A' &or; B)'</th>
        </tr>
        <tr>
            <td>T</td>
            <td>T</td>
            <td>F</td>
            <td>T</td>
            <td>T</td>
            <td>F</td>
            <td>F</td>
        </tr>
         <tr>
            <td>T</td>
            <td>F</td>
            <td>F</td>
            <td>F</td>
            <td>F</td>
            <td>T</td>
             <td>F</td>
        </tr>
        <tr>
            <td>F</td>
            <td>T</td>
            <td>T</td>
            <td>T</td>
            <td>T</td>
            <td>F</td>
            <td>F</td>
        </tr>
        <tr>
            <td>F</td>
            <td>F</td>
            <td>T</td>
            <td>T</td>
            <td>T</td>
            <td>F</td>
            <td>F</td>
        </tr>
</table>

(4) 
<table>
        <tr style="border: 1px solid black">
            <th style="border: 1px solid black">A</th>
            <th style="border: 1px solid black">B</th>
            <th style="border: 1px solid black">A'</th>
            <th style="border: 1px solid black">A &or; B</th>
            <th style="border: 1px solid black">A' &rarr; B</th>
            <th style="border: 1px solid black">A &or; B &harr; A' &rarr; B</th>
        </tr>
        <tr>
            <td>T</td>
            <td>T</td>
            <td>F</td>
            <td>T</td>
            <td>T</td>
            <td>T</td>
        </tr>
         <tr>
            <td>T</td>
            <td>F</td>
            <td>F</td>
            <td>T</td>
            <td>T</td>
            <td>T</td>
        </tr>
        <tr>
            <td>F</td>
            <td>T</td>
            <td>T</td>
            <td>T</td>
            <td>T</td>
            <td>T</td>
        </tr>
        <tr>
            <td>F</td>
            <td>F</td>
            <td>T</td>
            <td>F</td>
            <td>F</td>
            <td>T</td>
        </tr>
</table>

### 9. List all wff in #3 that are tautologies or contradictions.

(3) is contradition, (4) is tautology

### 10. List all paris of wffs in #3 that are equivalent

(1) and (2) are equivalent

### 11. Simplify the Boolean expression in the following piece of code

if( !( !(x == 2) || (y < z)) || ( (y<z) && (x == 2) ))  <br>
{ <Br>
  z++; <br>
} <Br>

A: x == 2 <br>
B: y < z

(A' &or; B)' &or; (B &and; A) <br>
A &and; B' &or; (B &and; A) <br>
(A &and; B') &or; (A &and; B) <br>
A &and; (B' &or; B ) <br>
A &and; 1 <BR>
    A
<br>

After the simplification, we got: <br>

if(x==2)
{
    z++;
    
}